.all {
    padding: 20px;
    margin-top: 100px;
    color: #46543e;
    display: flex;
    flex-direction: column;
    align-items: center;

    height: 130vh;
}

p {
    color: #577d3e;

}

h3 {
    padding-bottom: 15px;
}

.product {
    display: flex;
    align-items: flex-start;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    padding: 15px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 600px;
}

.photo {
    width: 200px;
    height: 180px;
    margin-right: 20px;
    border-radius: 5px;

}

.details {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;

}

.details h3 {
    margin: 0;
    font-size: 1.5em;
}

.details p {
    margin: 5px 0;
    font-size: 1.1em;

}

.qtyControls {
    display: flex;
    align-items: center;
    margin-top: 10px;

}

.qtyControls button {
    margin: 0 5px;
    padding: 5px 12px;
    background-color: #577d3e;
    border: 1px solid #577d3e;
    border-radius: 5px;
    color: white;
    cursor: pointer;
    transition: background-color 0.3s;
}

.qtyControls button:hover {
    background-color: #7cb342;
} 
.know {
    width: 130px;
    height: 50px;
    font-size: 25px;
    margin: 30px 0;
    border: 1px solid #46543e;
    border-radius: 10px;
    background: linear-gradient(to right, #3d4e34, #72a551);
    color: antiquewhite;
    -webkit-text-stroke: 1.5px #46543e;

    transition: 4s ease-in-out;
}

.know:hover {
    background: linear-gradient(to left, #3d4e34, #72a551);
}

.totalAmount {


    margin-right: 150px;
    align-items: center;


}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;

}

.orderForm {
    background-color: white;
    border: 1px solid #ccc;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);

    width: 300px;

}

.successMessage {
    color: green;
    font-weight: bold;
    margin: 15px 0;
}


.product {
    display: flex;
    margin-bottom: 15px;
    position: relative;
}

.orderButtons {
    margin: 0 5px;
    padding: 5px 12px;
    background-color: #577d3e;
    border: 1px solid #577d3e;
    border-radius: 5px;
    color: white;
    cursor: pointer;
    transition: background-color 0.3s;
}

.removeButton {
    position: absolute;
    top: 10px;
    right: 10px;
    background: none;
    border: none;
    cursor: pointer;
}