/* *{
    margin: 0;
    padding: 0;
    text-transform: capitalize;
    box-sizing: border-box;
    font-family: "Nerko One", cursive;
    font-weight: 400;
    font-style: normal;
} */

.navbar {
    width: 100%;
    height: 12%;
    padding: 20px;
    z-index: 1000;
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: linear-gradient(#46543e, #46543e95);
    color: antiquewhite;
}

.logo {
    width: 20%;
}

.logo h1 {
    font-family: "Londrina Solid", sans-serif;
    font-size: 50px;
    font-weight: 850;
    color: #5a6a50;
    -webkit-text-stroke: 1px antiquewhite;
    text-transform: uppercase;
    cursor: pointer;
    position: relative;
    transition: 0.5s ease-out;
}

.logo h1:hover {
    transform: scale(1.09);
    color: #dae8d5;
    filter: drop-shadow(5px 0px 30px rgba(249, 219, 181, 0.567));

}

.enter {
    background-color: transparent;
    border: none;
    font-size: 28px;
    display: inline-block;
    color: antiquewhite;
    text-decoration: none;
    cursor: pointer;
    position: relative;
    transition: 0.5s ease-in;
    margin-right: 40px;



}

.enter::before {
    content: '';
    position: absolute;
    bottom: -2px;
    left: 0;
    width: 100%;
    height: 3px;
    background-color: antiquewhite;
    transform: scale(0);
    transform-origin: bottom right;
    transition: transform 0.3s;
}

.enter:hover::before {
    transform: scaleX(1);
    background-color: #c1c8be;
    transform-origin: bottom left;
}

.enter:hover {
    /* transform: scale(1.2); */
    color: #c1c8be;
    filter: drop-shadow(10px 10px 20px rgb(244, 205, 154));
}

.links {
    width: 80%;
    display: flex;
    justify-content: space-around;
}

.navElement {
    font-size: 28px;
    display: inline-block;
    color: antiquewhite;
    text-decoration: none;
    cursor: pointer;
    position: relative;
    transition: 0.5s ease-in;
}

.navElement::before {
    content: '';
    position: absolute;
    bottom: -2px;
    left: 0;
    width: 100%;
    height: 3px;
    background-color: antiquewhite;
    transform: scale(0);
    transform-origin: bottom right;
    transition: transform 0.3s;
}

.navElement:hover::before {
    transform: scaleX(1);
    background-color: #c1c8be;
    transform-origin: bottom left;
}

.navElement:hover {
    /* transform: scale(1.2); */
    color: #c1c8be;
    filter: drop-shadow(10px 10px 20px rgb(244, 205, 154));
}

.img {

    height: 50px;
    width: 50px;
    border-radius: 50%;
}

.popup {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 2000;
}

.popupInner {
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    position: relative;
}

.closeBtn {
    position: absolute;
    top: 10px;
    right: 10px;
    background: none;
    border: none;
    font-size: 20px;
    cursor: pointer;
}