.allPage {
    width: 100svw;
    height: 500vh;
    margin-top: 100px;
    color: #46543e;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.allPage h1 {
    cursor: pointer;
    transition: 0.5s all;
}

.allPage h1:hover {
    transform: scale(1.05);
    filter: drop-shadow(5px 0px 30px rgba(249, 219, 181, 0.567));
}

.treeContainer {
    width: 100%;
    padding: 0 100px;
    margin-top: 50px;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
    gap: 40px;
}

.trees {
    height: 620px;
    border: 2px solid #46543e;
    border-radius: 15px;
    position: relative;
    cursor: pointer;
    overflow: hidden;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 15px;
    box-shadow: 10px 10px 15px #606f5898;
}

.trees:hover {
    transform: scale(1.07);
}

.name {

    font-size: 30px;
    text-shadow: 10px 6px 10px #46543e;
}

.des {
    color: #577d3e;
}


.productImage {
    width: 100%;
    height: 270px;
    object-fit: cover;
    transition: transform 0.3s ease-in-out;
    margin-bottom: 10px;
}


/* .trees:hover .productImage {
    transform: scale(1.1); 
} */


.details {
    width: 90%;
    padding: 15px;
    font-size: 20px;
    border: 1px solid #46543e;
    border-radius: 10px;
    background: linear-gradient(to right, #3d4e34, #72a551);
    position: absolute;
    bottom: 10px;
    cursor: pointer;
    transition: background 0.3s ease-in-out;
    margin-top: auto;
    /* Ensures the button is always at the bottom */
}

.details:hover {
    background: linear-gradient(to right, #72a551, #3d4e34);
}

.link {
    text-decoration: none;
    color: #fff;
    font-weight: bold;
    display: block;
    text-align: center;
}

.searchbox {
    height: 40px;
    display: flex;
    cursor: pointer;
    padding: 10px 20px;
    background: rgb(249, 243, 234);
    border-radius: 30px;
    align-items: center;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    border: 2px solid #46543e;
}

.searchbox:hover input {
    width: 400px;
}

.searchbox input {
    width: 0;
    outline: none;
    border: none;
    font-weight: 500;
    transition: 0.8s;
    background: transparent;
    color: #46543e;

    /*remove it to make it toggle*/
}

.searchbox input:hover {
    width: 400px;
}

.searchButton {
    background: none;
    border: none;
    color: #46543e;
    font-size: 18px;

}

.fab {
    position: absolute;
    top: 150px;
    left: 20px;
    background-color: rgb(249, 243, 234);
    color: #46543e;
    border: 2px solid #46543e;
    border-radius: 10%;
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 24px;
    cursor: pointer;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);

}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    /* justify-content: center;
    align-items: center; */
    z-index: 999;


}



.closeButton {
    margin-top: 20px;
    background-color: #46543e;
    color: white;
    border: none;
    padding: 10px 15px;
    border-radius: 5px;
    cursor: pointer;
}

.formContainer {
    background: rgb(249, 243, 234);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
    padding-top: 100px;

}

.formContainer div {
    margin-bottom: 15px;
}

.formContainer label {
    display: block;
    margin-bottom: 5px;
    color: #46543e;
}

.formContainer input,
.formContainer select {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 5px;
    color: #46543e;
}